.header {
  display: flex;
  align-items: center;
  height: 88px;
  border-bottom: 1px solid #D9FFF5;

  @media (min-width: 1119px) {
    display: none;
  }
}

.wrapper {
  margin: 0 16px;

  @media (min-width: 768px){
    @media (max-width: 1119px) {
      margin: 0 24px;
    }
  }
}

.nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  &__burger {
    display: flex;
    align-items: center;
  }

  &--button {
    display: flex;
    min-width: 40px;
    min-height: 40px;
    background-color: #ff3e79;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
  }

  &__burger_logo {
    display: flex;
    align-items: center;
    margin: 0 0 0 15px;

    @media (min-width: 768px) {
      @media (max-width: 1119px) {
        margin: 0;
      }
    }
    &::before {
      content: '';
      display: block;
      margin: 0 20px 0 20px;
      height: 32px;
      border: 1px solid #EAEAEA;
      border-radius: 2px;
    }

    @media (max-width: 320px) {
      &::before {
        content: none;
      }
    }
  }
}

.menu {
  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    margin: 0 0 0 18px;
    display: flex;
    align-items: center;

    &:nth-last-child(n+3) {
      display: none;
    }

    &:nth-last-child(2)::before {
      content: '';
      display: block;
      margin: 0 20px 0 0;
      height: 32px;
      border: 1px solid #EAEAEA;
      border-radius: 2px;
    }

    @media (min-width: 768px) {
      @media (max-width: 1119px) {
        &:nth-last-child(n+3) {
          display: flex;
        }
      }
    }
  }
}
