.header {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 88px;
  border-bottom: 1px solid #D9FFF5;
}

.wrapper {
  margin: 0 16px;
}

//? position @media
@media (min-width: 768px) and (max-width: 1120px) { 
  .wrapper {
    margin: 0 24px;
  }
}

.nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.nav__burger {
  display: flex;
  align-items: center;
}

.nav__burger_butt {
  // margin: 0 16px 0 0;
}

.nav-button {
  display: flex;
  min-width: 40px;
  min-height: 40px;
  background-color: #ff3e79;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.nav__burger_logo {
  display: flex;
  align-items: center;
}

.nav__menu {
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__item {
  margin: 0 0 0 16px;
  display: flex;
  align-items: center;
}

.menu__item:nth-last-child(n+3) {
  display: none;
}

// .menu__item:nth-last-child(2) {
//   margin: 0;
// }

.menu__item:nth-last-child(2)::before,
.nav__burger_logo::before {
  content: '';
  display: block;
  margin: 0 20px;
  height: 32px;
  border: 1px solid #EAEAEA;
  border-radius: 2px;
}

  .nav__burger_butt {
    margin: 0 16px 0 0;
  }
  .menu__item:nth-last-child(2)::before {
    margin: 0 20px 0 16px;  //? уползает если не поставить (кастыль)
  }
}

@media (min-width: 768px) and (max-width: 1120px) {
  .menu__item:nth-last-child(n+3) {
    display: flex;
  }
}

.status-menu::before {
    content: "";
    display: block;
    margin: 0 19px 0 17px;
    height: 32px;
    align-items: center;
    border-left: 2px solid #eaeaea;
  }

.status-menu__repair-butt {
  margin-right: 16px;
}