.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #D9FFF5;

  @media (min-width: 1119px) {
    display: none;
  }

  // &__burger-menu {
  //   display: flex;
  //   // transform: translateX(-100%);
  //   // position: absolute;
  //   z-index: 5;
  //   flex-direction: column;
  //   height: 1024px;
  //   background-color: #ffffff;
  //   box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);

  //   &_nav {
  //     display: flex;
  //     width: 320px;
  //     padding: 35px 24px 0;
  //     align-items: center;
  //     justify-content: space-between;
  //     height: 50px;
  //   }

  //   &_container{
  //     display: flex;
  //     column-gap: 17px;
  //     align-items: center;
  //   }

  //   &_actions {
  //     display: flex;
  //     flex-direction: column;
  //     padding: 62px 0 0 0;
  //     row-gap: 32px;
  //     font-family: "TTLakesMedium";
  //     font-size: 16px;
  //     line-height: 24px;
  //     letter-spacing: -0.2px;
  //   }
    
  //   &_action {
  //     padding: 0 0 0 24px;
      
      
  //     &--active {
  //       padding: 4px 0 0 0;
  //       display: flex;
  //       align-items: center;
  //       font-family: "TTLakesRegular";
  //       color: #7E7E82;

  //       &::before {
  //         content: "";
  //         margin: 0 20px 0 0;
  //         height: 32px;
  //         border-right: 4px solid #41f6d7;
  //         border-top-right-radius: 4px;
  //         border-bottom-right-radius: 4px;
  //       }
  //     }

  //     &-link {
  //       color: #1B1C21;

  //       &--active {
  //         color: #7E7E82;
  //       }
  //     }
  //   }

  //   &_contacts {
  //     padding: 264px 0 0 24px;
  //   }

  //   &_buttons {
  //     display: flex;
  //     column-gap: 16px;
  //   }

  //   &_mail {
  //     padding: 16px 0 0 0;
  //     font-size: 16px;
  //     line-height: 24px;
  //     letter-spacing: -0.2px;

  //     &-link {
  //       color: #1B1C21;
  //     }
  //   }

  //   &_phone {
  //     padding: 12px 0 0 0;
  //     font-family: 'TTLakesBold';
  //     font-size: 24px;
  //     line-height: 32px;
  //     letter-spacing: -0.6px;
      
  //     &-link {
  //       color: #1B1C21;
  //     }
  //   }

  //   &_lang {
  //     display: flex;
  //     padding: 40px 0 0 24px;
  //     column-gap: 7px;
  //     font-family: 'TTLakesMedium';
  //     font-size: 16px;
  //     line-height: 24px;
  //     letter-spacing: -0.2px;
  //     color: #1B1C21;

  //     &--active{
  //       color: #7E7E82;
  //     }
  //   }

  // }

  &__nav {
    display: none;
    height: 88px;
    align-items: center;
    justify-content: space-between;

    @media (min-width: 768px) {
      @media (max-width: 1119px) {
        column-gap: 250px;
      }
    }    
  }

  &__burger {
    display: flex;
    align-items: center;
    column-gap: 16px;
  }

  &__logo-link {
    display: flex;
    align-items: center;

    @media (min-width: 321px) {
      @media (max-width: 1119px) {
        &::before {
          content: '';
          display: block;
          margin: 0 20px 0 5px;
          height: 32px;
          border: 1px solid #EAEAEA;
          border-radius: 2px;
        }
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    column-gap: 16px;
  }

  &__action {
    display: flex;
    align-items: center;
    column-gap: 20px;

    &:nth-last-child(n+3) {
      display: none;
    }

    &:nth-last-child(2)::before {
      content: '';
      display: block;
      margin: 0 0 0 16px;
      height: 32px;
      border: 1px solid #EAEAEA;
      border-radius: 2px;
    }

    @media (min-width: 768px) {
      @media (max-width: 1119px) {
        &:nth-last-child(n+3) {
          display: flex;
        }

        &:nth-last-child(2)::before {
          margin: 0 0 0 3px;
        }
      }
    }
  }
}

.wrapper {
  padding: 0 0 0 16px;

  @media (min-width: 768px){
    @media (max-width: 1119px) {
      padding: 0 24px;
    }
  }
}
