.main {
  background-color: #F8F8F8;

  &__title {
    padding: 42px 34px 0 0;
    display: flex;
    justify-content: space-between;
  }
}

// title start

.title{
  &__text {
    font-family: "TTLakesBold";
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    color: #1b1c21;

    &::before {
      content: "";
      margin: 0 12px 0 0;
      height: inherit;
      border-right: 4px solid #41f6d7;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    @media (min-width: 768px) {
      @media (max-width: 1119px) {
        &::before{
        margin: 0 20px 0 0;
        }
      }
    }

    @media (min-width: 1120px) {
      &::before {
      margin: 0 30px 0 0;
      }
    }
  }

  &__menu {
    display: none;

    @media (min-width: 1120px) {
      display: flex;
    }
  }

  &__list {
    @media (min-width: 1120px) {
      display: flex;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    margin: 0 32px 0 0;

    &:nth-last-child(1) {
      margin: 0;
    }

    &_text {
      margin: 0 9px 0 0;
      font-family: 'TTLakesMedium';
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      color: #1B1C21;
    }
  }
}

// title end

// slider start

.slider {
  margin: 24px 0 0 16px;
  padding: 0 0 15px 0;
  overflow-x: auto;

  @media (min-width: 768px) {
    @media (max-width: 1119px){
      margin: 32px 0 0 24px;
      padding: 0 0 10px 0;
      overflow-x: auto;
    }
  }

  @media (min-width: 1120px) {
    margin: 8px 0 0 32px;
  }

  &__list {
    display: flex;
  }

  &__item {
    display: flex;
    align-items: center;
    margin: 0 20px 0 0;

    &--active {
      border: 2px solid #b8ffec;
      border-radius: 6px;
      margin: 0 20px 0 0;
      padding: 6px 15px;
      background-color: #ffffff;

      @media (min-width: 1120px) {
        .slider__item--active {
          padding: 8px 21px;
        }
      }
    }
  }

  &__link {
    white-space: nowrap;
    font-family: "TTLakesMedium";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7e7e82;
  }
}

// slider end

// feedback start

.feedback {
  display: none;

  @media (min-width: 1120px) {
    display: flex;
    margin: 0 0 0 56px;
  }

  &__title {
    font-family: 'TTLakesRegular';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
  }
}

// feedback end

// describe start

.describe {
  margin: 0;

  @media (min-width: 768px) {
    @media (max-width: 1119px) {
      display: flex;
      margin: 10px 0 0 24px;
      justify-content: space-between; //responsive ?
    }
  }

  @media (min-width: 1120px) {
    display: flex;
    justify-content: space-between;  //responsive
    padding: 0 29px 0 35px;
  }

  &__text {
    white-space: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1px;
    color: #1B1C21;

    @media (min-width: 768px) {
      @media (max-width: 1119px) {
        margin: 0;
        line-height: 20px;
        letter-spacing: 0.2px;
      }
    }

    @media (min-width: 1120px) {
      padding: 21px 0 0 0;
      line-height: 20px;
      letter-spacing: 0.2px;
    }

    &_paragraph {
      overflow: hidden;
      max-height: 90px;

      @media (min-width: 768px){
        @media (max-width: 1119px) {
          overflow: hidden;
          max-width: 312px;
          max-height: 160px;
        }
      }

      @media (min-width: 1120px) {
        overflow: hidden;
        max-width: 490px;
        max-height: 160px;
      }
    }
  }

  &__more {
    display: block;
    margin: 15px 0 0 0;

    @media (min-width: 768px) {
      @media (max-width: 1120px) {
        display: block;
        margin: 10px 0 0 0;
      }
    }
    
    .more {
      &__button {

      &_img {
        margin: 0 5px 0 0;
      }

      &_text {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
      }
    }
  }
}
}

// describe end

// signboard start

.signboard {
  margin: 16px 0 0 0;

  @media (min-width: 768px) {
    @media (max-width: 1119px) {
      margin: 0 0 40px 48px;
    }
  }

  @media (min-width: 1120px) {
    margin: 11px 0 0 0;
  }

  &_img--320 {

    @media (min-width: 768px) {
      @media (max-width: 1120px) {
        display: none;
      }
    }

    @media (min-width: 1120px) {
      display: none;
    }
  }

  &_img--768 {
    display: none;

    @media (min-width: 768px) {
      @media (max-width: 1119px) {
        display: block;
      }
    }

    @media (min-width: 1120px) {
      display: none;
    }
  }

  &_img--1120 {
    display: none;

    @media (min-width: 1120px) {
      display: block;
    }
  }

  @media (min-width: 768px) {
    @media (max-width: 1119px) {

    }
  }
}

// signboard end