// $colorPagination: #333333;
$colorPagination: #DDDDDD;
$colorPaginationActive: #B5B6BC;


.swiper {

  &-wrapper {
    

    @media (min-width: 768px) {
      @media (max-width: 1119px) {
        display: flex !important;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 16px;
        margin: 0 0 14px 0;
      }
    }
  }

  &-slide {
    display: flex;
    height: 72px !important;

    @media (min-width: 768px) {
      @media (max-width: 1119px) {
        max-width: 224px !important;
      }
    }

    &--hide {

      @media (min-width: 768px) {
        @media (max-width: 1119px) {
          display: none !important;
        }
      }
      
    }
    
    &_link {
      height: 72px !important;
      width: 240px !important;
      padding: 20px 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #FFFFFF;
      border: 1px solid #EAEAEA;
      border-radius: 6px;

      @media (min-width: 768px) {
        @media (max-width: 1119px) {
          width: 224px !important;
          
        }
      }
    }

    &_butt {
      height: 40px;
      width: 40px;
      border: 2px solid #FF3E79;
      border-radius: 50%;
      background: url("/icon/right_arrow.png") no-repeat 50% 50%;
    }
  }

  &-pagination {
    display: flex !important;
    justify-content: center !important;
    
    &-horizontal {
      column-gap: 7px !important;
    }

    &-bullet {
      margin: 0 !important;
      display: flex !important;
      width: 12px !important;
      height: 12px !important;
      border-radius: 50% !important;
      background-color: $colorPagination !important;

      &-active{
        background-color: $colorPaginationActive !important;
      }
    }
  }
}