@font-face {
  font-family: "TTLakesRegular";
  src: url(../fonts/TTLakes-Regular.woff);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "TTLakesMedium";
  src: url(../fonts/TTLakes-Medium.woff);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "TTLakesBold";
  src: url(../fonts/TTLakes-Bold.woff);
  font-style: normal;
  font-weight: normal;
}


@import "_default";
@import "_header";
@import "_main";

html {
  font-family: "TTLakesRegular";
}

.button--circle {
  display: flex;
  min-width: 40px;
  min-height: 40px;
  background-color: #ff3e79;
  border-radius: 50%;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color:#c81349;
  }
}
