@font-face {
  font-family: "TTLakesRegular";
  src: url(../fonts/TTLakes-Regular.woff);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "TTLakesMedium";
  src: url(../fonts/TTLakes-Medium.woff);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "TTLakesBold";
  src: url(../fonts/TTLakes-Bold.woff);
  font-style: normal;
  font-weight: normal;
}
/*default*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*---------*/
.header {
  display: flex;
  align-items: center;
  height: 88px;
  border-bottom: 1px solid #D9FFF5;
}
@media (min-width: 1119px) {
  .header {
    display: none;
  }
}

.wrapper {
  margin: 0 16px;
}
@media (min-width: 768px) and (max-width: 1119px) {
  .wrapper {
    margin: 0 24px;
  }
}

/*-- nav start --*/
.nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.nav__burger {
  display: flex;
  align-items: center;
}
.nav--button {
  display: flex;
  min-width: 40px;
  min-height: 40px;
  background-color: #ff3e79;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.nav__burger_logo {
  display: flex;
  align-items: center;
  margin: 0 0 0 15px;
}
@media (min-width: 768px) and (max-width: 1119px) {
  .nav__burger_logo {
    margin: 0;
  }
}
.nav__burger_logo::before {
  content: "";
  display: block;
  margin: 0 20px 0 20px;
  height: 32px;
  border: 1px solid #EAEAEA;
  border-radius: 2px;
}
@media (max-width: 320px) {
  .nav__burger_logo::before {
    content: none;
  }
}

/*-- nav end --*/
/*-- menu start --*/
.menu__list {
  display: flex;
  align-items: center;
}
.menu__item {
  margin: 0 0 0 18px;
  display: flex;
  align-items: center;
}
.menu__item:nth-last-child(n+3) {
  display: none;
}
.menu__item:nth-last-child(2)::before {
  content: "";
  display: block;
  margin: 0 20px 0 0;
  height: 32px;
  border: 1px solid #EAEAEA;
  border-radius: 2px;
}
@media (min-width: 768px) and (max-width: 1119px) {
  .menu__item:nth-last-child(n+3) {
    display: flex;
  }
}

/*-- menu end --*/
.main {
  background-color: #F8F8F8;
}
.main__title {
  padding: 24px 34px 0 0;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 1120px) {
  .main {
    padding: 18px 0 0 0;
  }
}

/*-- title start --*/
.title__text {
  font-family: "TTLakesBold";
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  color: #1b1c21;
}
.title__text::before {
  content: "";
  margin: 0 12px 0 0;
  height: inherit;
  border-right: 4px solid #41f6d7;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
@media (min-width: 768px) and (max-width: 1119px) {
  .title__text::before {
    margin: 0 20px 0 0;
  }
}
@media (min-width: 1120px) {
  .title__text::before {
    margin: 0 30px 0 0;
  }
}
.title__menu {
  display: none;
}
@media (min-width: 1120px) {
  .title__menu {
    display: flex;
  }
}
@media (min-width: 1120px) {
  .title__list {
    display: flex;
  }
}
.title__item {
  display: flex;
  align-items: center;
  margin: 0 32px 0 0;
}
.title__item:nth-last-child(1) {
  margin: 0;
}
.title__item_text {
  margin: 0 9px 0 0;
  font-family: "TTLakesMedium";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
}

/*-- title end --*/
/*-- slider start --*/
.slider {
  margin: 24px 0 0 16px;
  padding: 0 0 8px 0;
  overflow-x: auto;
}
@media (min-width: 768px) and (max-width: 1119px) {
  .slider {
    margin: 32px 0 0 24px;
    padding: 0 0 10px 0;
    overflow-x: auto;
  }
}
@media (min-width: 1120px) {
  .slider {
    margin: 8px 0 0 32px;
  }
}
.slider__list {
  display: flex;
}
.slider__item {
  display: flex;
  align-items: center;
  margin: 0 20px 0 0;
}
.slider__item--active {
  border: 2px solid #b8ffec;
  border-radius: 6px;
  margin: 0 20px 0 0;
  padding: 6px 15px;
  background-color: #ffffff;
}
@media (min-width: 1120px) {
  .slider__item--active .slider__item--active {
    padding: 8px 21px;
  }
}
.slider__link {
  white-space: nowrap;
  font-family: "TTLakesMedium";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7e7e82;
}

/*-- slider end --*/
/*-- feedback start --*/
.feedback {
  display: none;
}
@media (min-width: 1120px) {
  .feedback {
    display: flex;
    margin: 7px 0 0 57px;
  }
}
.feedback__title {
  font-family: "TTLakesRegular";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7E7E82;
}

/*-- feedback start --*/
/*-- describe start --*/
.describe {
  margin: 0;
}
@media (min-width: 768px) and (max-width: 1119px) {
  .describe {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 1120px) {
  .describe {
    display: flex;
    justify-content: space-between;
    padding: 0 29px 0 35px;
  }
}
.describe__text {
  margin: 18px 16px 0;
  white-space: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #1B1C21;
}
@media (min-width: 768px) and (max-width: 1119px) {
  .describe__text {
    margin: 0;
    line-height: 20px;
    letter-spacing: 0.2px;
  }
}
@media (min-width: 1120px) {
  .describe__text {
    margin: 0;
    padding: 20px 0 0 0;
    line-height: 20px;
    letter-spacing: 0.2px;
  }
}
.describe__text_paragraph {
  overflow: hidden;
  max-height: 90px;
}
@media (min-width: 768px) and (max-width: 1119px) {
  .describe__text_paragraph {
    margin: 23px 0 0 24px;
    overflow: hidden;
    max-width: 312px;
    max-height: 160px;
  }
}
@media (min-width: 1120px) {
  .describe__text_paragraph {
    overflow: hidden;
    max-width: 490px;
    max-height: 160px;
  }
}
.describe__more {
  display: block;
  margin: 15px 0 0 0;
}
@media (min-width: 768px) and (max-width: 1120px) {
  .describe__more {
    display: block;
    margin: 10px 0 0 26px;
  }
}
.describe__more .more__button_img {
  margin: 0 5px 0 0;
}
.describe__more .more__button_text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
}

/*-- describe end --*/
/*-- signboard start --*/
.signboard {
  margin: 16px 0 0 0;
}
@media (min-width: 768px) and (max-width: 1119px) {
  .signboard {
    margin: 0px;
    padding: 23px 24px 0 0;
  }
}
@media (min-width: 1120px) {
  .signboard {
    margin: 11px 0 0 0;
  }
}
@media (min-width: 768px) and (max-width: 1120px) {
  .signboard_img--320 {
    display: none;
  }
}
@media (min-width: 1120px) {
  .signboard_img--320 {
    display: none;
  }
}
.signboard_img--768 {
  display: none;
}
@media (min-width: 768px) and (max-width: 1119px) {
  .signboard_img--768 {
    display: block;
  }
}
@media (min-width: 1120px) {
  .signboard_img--768 {
    display: none;
  }
}
.signboard_img--1120 {
  display: none;
}
@media (min-width: 1120px) {
  .signboard_img--1120 {
    display: block;
  }
}
/*-- signboard end --*/
html {
  font-family: "TTLakesRegular";
}