@font-face {
  font-family: "TTLakesRegular";
  src: url(../fonts/TTLakes-Regular.woff);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "TTLakesMedium";
  src: url(../fonts/TTLakes-Medium.woff);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "TTLakesBold";
  src: url(../fonts/TTLakes-Bold.woff);
  font-style: normal;
  font-weight: normal;
}
/*default*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*---------*/
.header {
  display: flex;
  align-items: center;
  height: 88px;
  border-bottom: 1px solid #D9FFF5;
}
@media (min-width: 1119px) {
  .header {
    display: none;
  }
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 768px) and (max-width: 1119px) {
  .header__nav {
    -moz-column-gap: 250px;
         column-gap: 250px;
  }
}
.header__burger {
  display: flex;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.header__logo-link {
  display: flex;
  align-items: center;
}
@media (min-width: 321px) and (max-width: 1119px) {
  .header__logo-link::before {
    content: "";
    display: block;
    margin: 0 20px 0 5px;
    height: 32px;
    border: 1px solid #EAEAEA;
    border-radius: 2px;
  }
}
.header__actions {
  display: flex;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.header__action {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.header__action:nth-last-child(n+3) {
  display: none;
}
.header__action:nth-last-child(2)::before {
  content: "";
  display: block;
  margin: 0 0 0 16px;
  height: 32px;
  border: 1px solid #EAEAEA;
  border-radius: 2px;
}
@media (min-width: 768px) and (max-width: 1119px) {
  .header__action:nth-last-child(n+3) {
    display: flex;
  }
  .header__action:nth-last-child(2)::before {
    margin: 0 0 0 3px;
  }
}

.wrapper {
  padding: 0 0 0 16px;
}
@media (min-width: 768px) and (max-width: 1119px) {
  .wrapper {
    padding: 0 24px;
  }
}

.main {
  background-color: #F8F8F8;
}
@media (min-width: 1120px) {
  .main {
    padding: 18px 0 0 0;
  }
}
.main__container {
  padding: 24px 32px 0 0;
  display: flex;
  justify-content: space-between;
}
.main__container_title {
  font-family: "TTLakesBold";
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  color: #1b1c21;
}
.main__container_title::before {
  content: "";
  margin: 0 12px 0 0;
  height: inherit;
  border-right: 4px solid #41f6d7;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
@media (min-width: 768px) and (max-width: 1119px) {
  .main__container_title::before {
    margin: 0 20px 0 0;
  }
}
@media (min-width: 1120px) {
  .main__container_title::before {
    margin: 0 30px 0 0;
  }
}
.main__container_actions {
  display: none;
}
@media (min-width: 1120px) {
  .main__container_actions {
    display: flex;
    -moz-column-gap: 32px;
         column-gap: 32px;
  }
}
.main__container_action {
  display: flex;
  -moz-column-gap: 9px;
       column-gap: 9px;
  align-items: center;
  font-family: "TTLakesMedium";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21;
}
.main__container_action:hover .button--circle {
  background-color: #c81349;
}
.main__navigation {
  padding: 24px 25px 10px 16px;
  overflow-x: auto;
}
@media (min-width: 768px) and (max-width: 1119px) {
  .main__navigation {
    padding: 32px 0 0 24px;
    overflow-x: auto;
  }
}
@media (min-width: 1120px) {
  .main__navigation {
    padding: 8px 0 0 32px;
  }
}
.main__navigation_actions {
  display: flex;
  gap: 15px 31px;
}
@media (min-width: 1120px) {
  .main__navigation_actions {
    flex-wrap: wrap;
  }
}
.main__navigation_action {
  display: flex;
  align-items: center;
}
.main__navigation_action--active {
  border: 2px solid #b8ffec;
  border-radius: 6px;
  padding: 6px 14px;
  background-color: #ffffff;
}
@media (min-width: 1120px) {
  .main__navigation_action--active {
    padding: 6px 22px;
  }
}
.main__navigation_action:nth-last-child(1) {
  padding: 0 0 0 25px;
}
.main__navigation_link {
  white-space: nowrap;
  font-family: "TTLakesMedium";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #7e7e82;
}
.main__about {
  padding: 14px 0 0 0;
  white-space: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #1B1C21;
}
@media (min-width: 768px) and (max-width: 1119px) {
  .main__about {
    display: flex;
    justify-content: space-between;
    padding: 32px 0 0 8px;
  }
}
@media (min-width: 1120px) {
  .main__about {
    display: flex;
    justify-content: space-between;
    padding: 10px 26px 0 19px;
  }
}
.main__about_text-container {
  padding: 0 16px;
}
@media (min-width: 1120px) {
  .main__about_text-container {
    padding: 10px 16px 0;
  }
}
.main__about_text {
  max-height: 90px;
  max-width: 288px;
  overflow: hidden;
}
@media (min-width: 768px) and (max-width: 1120px) {
  .main__about_text {
    max-width: 312px;
    max-height: 160px;
    line-height: 20px;
    letter-spacing: 0.2px;
  }
}
@media (min-width: 1120px) {
  .main__about_text {
    max-width: 490px;
    max-height: 160px;
  }
}
.main__about_show_more-btn {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding: 15px 0 0 0;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
}
@media (min-width: 768px) and (max-width: 1120px) {
  .main__about_show_more-btn {
    padding: 10px 0 0 0;
  }
}
.main__signboard {
  padding: 16px 0 0 0;
}
@media (min-width: 768px) and (max-width: 1119px) {
  .main__signboard {
    padding: 0;
  }
}
@media (min-width: 1120px) {
  .main__signboard {
    padding: 0;
  }
}
@media (min-width: 768px) and (max-width: 1119px) {
  .main__signboard_img--320 {
    display: none;
  }
}
@media (min-width: 1120px) {
  .main__signboard_img--320 {
    display: none;
  }
}
.main__signboard_img--768 {
  display: none;
}
@media (min-width: 768px) and (max-width: 1119px) {
  .main__signboard_img--768 {
    display: block;
    padding: 0 24px 0 0;
  }
}
@media (min-width: 1120px) {
  .main__signboard_img--768 {
    display: none;
  }
}
.main__signboard_img--1120 {
  display: none;
}
@media (min-width: 1120px) {
  .main__signboard_img--1120 {
    display: block;
  }
}

html {
  font-family: "TTLakesRegular";
}

.button--circle {
  display: flex;
  min-width: 40px;
  min-height: 40px;
  background-color: #ff3e79;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.button--circle:hover {
  background-color: #c81349;
}